{% extends 'flowers/base.html' %}

{% block title %}
    <title>История всех заказов</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'profile' %}" class="btn btn-danger me-md-2" type="button">Назад в профиль</a>
        </div>
    <h1 class="text-center mb-4">История всех заказов</h1>
    <!-- Форма для сортировки и фильтрации -->
    <form method="get" action="{% url 'all_orders_history' %}">
        <div class="d-flex align-items-center">
            <label class="me-2">Фильтры:</label>

            <!-- Фильтр по статусу -->
            <label class="me-2">Статус:</label>
            <select name="status" class="form-select me-2">
                <option value="">Все</option>
                <option value="Новый" {% if status_filter == "Новый" %}selected{% endif %}>Новый</option>
                <option value="В процессе" {% if status_filter == "В процессе" %}selected{% endif %}>В процессе</option>
                <option value="Завершён" {% if status_filter == "Завершён" %}selected{% endif %}>Завершён</option>
                <option value="Отменён" {% if status_filter == "Отменён" %}selected{% endif %}>Отменён</option>
            </select>

            <input type="text" name="username" value="{{ username_filter }}" placeholder="Введите username пользователя" class="form-control me-2">
            <label class="me-2">C:</label>
            <input type="date" name="date_from" value="{{ date_from }}" class="form-control me-2" placeholder="Дата с">
            <label class="me-2">По:</label>
            <input type="date" name="date_to" value="{{ date_to }}" class="form-control me-2" placeholder="Дата по">

            <button type="submit" class="btn btn-primary">Применить</button>

            <button type="submit" name="sort" value="asc" class="btn">
                <i class="fas fa-arrow-up"></i> <!-- Иконка стрелка вверх -->
            </button>
            <button type="submit" name="sort" value="desc" class="btn">
                <i class="fas fa-arrow-down"></i> <!-- Иконка стрелка вниз -->
            </button>
        </div>
    </form><br>
    {% for order in orders %}
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Заказ №{{ order.id }} от пользователя {{ order.user }} на сумму {{ order.total_price }} руб.</h5>
                    <p class="card-text">Статус:
                        <button class="btn btn-sm {% if order.status == 'Новый' %} btn-primary{% elif order.status == 'В процессе' %}btn-warning{% elif order.status == 'Завершен' %}btn-success{% elif order.status == 'Отменен' %}btn-danger{% endif %}" onclick="openStatusModal({{ order.id }}, '{{ order.status }}')">
                            {{ order.status }}
                        </button>
                    </p>
                    <p class="card-text">Дата создания: {{ order.order_date|date:"d.m.Y H:i" }}</p>
                </div>
                <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">Детали заказа</a>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            <p>Нет заказов в истории.</p>
        </div>
    {% endfor %}
    <a href="{% url 'generate_sales_report' %}?username={{ username_filter }}&date_from={{ date_from }}&date_to={{ date_to }}">Отчёт по продажам</a>
</div>

<!-- Модальное окно для смены статуса -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">Изменить статус заказа</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-around">
                    <button class="btn btn-sm btn-primary cursor-pointer" onclick="changeOrderStatus('Новый')">Новый</button>
                    <button class="btn btn-sm btn-warning cursor-pointer" onclick="changeOrderStatus('В процессе')">В процессе</button>
                    <button class="btn btn-sm btn-success cursor-pointer" onclick="changeOrderStatus('Завершен')">Завершен</button>
                    <button class="btn btn-sm btn-danger cursor-pointer" onclick="changeOrderStatus('Отменен')">Отменен</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Открываем модальное окно и устанавливаем id заказа
let currentOrderId;

function openStatusModal(orderId, currentStatus) {
    currentOrderId = orderId;
    $('#statusModal').modal('show');
}

function changeOrderStatus(newStatus) {
    const orderId = currentOrderId;

    fetch("{% url 'change_status' %}", { // Корректируем URL
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}', // Передаем CSRF токен для защиты от CSRF атак
        },
        body: JSON.stringify({ id: orderId, status: newStatus }),
    })
    .then(response => {
        if (response.ok) {
            location.reload(); // Перезагружаем страницу, чтобы обновить статус заказа
        } else {
            alert('Ошибка при изменении статуса заказа.');
        }
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert('Произошла ошибка, попробуйте снова.');
    });
}
</script>

{% endblock %}