{% extends 'flowers/base.html' %}

{% block title %}
    <title>Генерация отчета о продажах</title>
{% endblock %}

{% block content %}
    <h1>Генерация отчета о продажах</h1>
    <form method="post" class="form-inline">
    {% csrf_token %}
    <div class="form-group mb-2">
        <label for="start_date" class="sr-only">Дата начала:</label>
        <input type="date" name="start_date" class="form-control" required>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="end_date" class="sr-only">Дата окончания:</label>
        <input type="date" name="end_date" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Сгенерировать отчет</button>
</form>

{% endblock %}