{% extends 'flowers/base.html' %}
{% load static %}
{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Добро пожаловать в наш интернет-магазин доставки цветов!</h1>

            <p>Мы рады приветствовать вас в мире ярких красок и изысканных ароматов. <br>
            Наш магазин предлагает широкий ассортимент свежих и красивых цветов, <br>
                которые станут отличным подарком для ваших близких и друзей.</p>

            <p>У нас вы найдете букеты на любой вкус: от классических роз до экзотических композиций.<br>
                Каждый букет создается с любовью и вниманием к деталям, чтобы подарить радость и тепло вашим любимым людям.</p>

            <p>Мы гарантируем быструю и надежную доставку по вашему адресу, чтобы цветы всегда прибывали в отличном состоянии. <br>
                Наша команда профессиональных флористов всегда готова помочь вам с выбором подходящего букета для любого повода.</p>

            <h5>Подписывайтесь на наши акции и специальные предложения, чтобы всегда быть в курсе выгодных предложений. <br>
                Мы стремимся сделать ваш опыт покупок максимально приятным и удобным.</h5>

            <p>Благодарим вас за выбор нашего магазина и надеемся, что вы найдете у нас то, что ищете. <br>
                Позвольте нам помочь вам сделать каждый момент особенным и незабываемым.</p>

            <h3>С любовью, ваш надежный партнер в мире цветов.</h3>
        </div>

        <div class="col-md-6">
            <img src="{% static 'flowers/img/logo.png' %}" alt="Логотип" class="img-fluid w-100">
        </div>
    </div>
</div>
{% endblock %}
