{% extends 'flowers/base.html' %}

{% block title %}
    <title>История моих заказов</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'profile' %}" class="btn btn-danger me-md-2" type="button">Назад в профиль</a>
    </div>
    <h1 class="text-center mb-4">История моих заказов</h1>
    <!-- Кнопки для сортировки -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <a href="?sort=asc" class="btn btn-secondary">По убыванию</a>
            <a href="?sort=desc" class="btn btn-secondary">По возрастанию</a>
        </div>
    {% for order in orders %}
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Заказ №{{ order.id }} от пользователя {{ order.user }}</h5>
                    <p class="card-text">Статус:
                        <button class="btn btn-sm {% if order.status == 'Новый' %} btn-primary{% elif order.status == 'В процессе' %}btn-warning{% elif order.status == 'Готов' %}btn-danger{% elif order.status == 'Завершен' %}btn-success{% elif order.status == 'Отменен' %}btn-secondary{% endif %}" onclick="openStatusModal({{ order.id }}, '{{ order.status }}')">
                            {{ order.status }}
                        </button>
                    </p>
                    <p class="card-text">Дата создания: {{ order.order_date|date:"d.m.Y H:i" }}</p>
                </div>
                <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">Детали заказа</a>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            У вас нет заказов в истории.
        </div>
    {% endfor %}
</div>
{% endblock %}