{% extends 'flowers/base.html' %}

{% block title %}
    <title>История заказа</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">История заказов</h1>
    {% for order in orders %}
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Заказ #{{ order.id }}</h5>
                    <p class="card-text">Статус: <span class="badge bg-success">{{ order.status }}</span></p>
                    <p class="card-text">Дата создания: {{ order.order_date|date:"d.m.Y H:i" }}</p>
                </div>
                <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">Детали заказа</a>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            У вас нет заказов в истории.
        </div>
    {% endfor %}
</div>
{% endblock %}