{% extends 'flowers/base.html' %}


{% block title %}
    <title>{{ product.name }}</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Детали товара</h1>

        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="font-bold">{{ product.name }}</h2><br>
                <h4>Цена: {{ product.price }} руб.</h4><br>

                {% if product.id in cart_items %}
                    <form action="{% url 'view_cart' %}" method="get">
                        <button type="submit" class="btn btn-secondary">Уже в корзине</button>
                    </form>
                {% else %}
                    <form action="{% url 'add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mt-2">Добавить в корзину</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px;">
    <h2>Отзывы:</h2>
    <ul class="list-group">
        {% for review in reviews %}
            <li class="list-group-item">
                <strong>{{ review.user.username }}</strong> (Рейтинг: {{ review.rating }})
                <p>{{ review.review_text }}</p>
            </li>
        {% empty %}
            <li class="list-group-item">Нет отзывов для этого товара.</li>
        {% endfor %}
    </ul>

    <h2>Добавить отзыв:</h2>
    <form method="post" action="{% url 'review_create' product.id %}">
        {% csrf_token %}

        <div class="form-group">

            <select name="rating" class="form-control" placeholder="Рейтинг" required>
                <option value="" disabled selected>Выберите рейтинг</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="form-group">

            <textarea name="review_text" class="form-control" required placeholder="Текст отзыва"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Добавить отзыв</button>
    </form>
</div>
{% endblock %}
