{% extends 'flowers/base.html' %}
{% load static %}  <!-- Добавьте эту строку -->

{% block title %}
    <title>Профиль</title>
{% endblock %}

{% block content %}
<body class="bg-gray-100">
    <h1 class="text-center font-bold text-3xl my-5">Профиль пользователя {{ user.username }}</h1>

    <div class="user-profile p-4 bg-white rounded-lg mb-4" align="center">
        <div class="flex items-center">
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Avatar" style="width: 150px; height: 150px;" class="rounded-full">
            {% else %}
                <img src='/media/flowers/static/flowers/img/avatars/default_user.png' alt="Default Avatar" style="width: 150px; height: 150px;" class="rounded-full">
            {% endif %}
            <div class="ml-4">
                <br><p>Имя и фамилия: {{ profile.first_name }} {{ profile.last_name }}</p>
                <p>Электронная почта: {{ profile.email }}</p>
                <p>Роль: {{ user.role }}</p>
                <p>Дата регистрации: {{ user.date_joined|date:"d.m.Y H:i" }}</p>
                <p>Адрес: {{ profile.address }}</p>
                <p>Номер телефона: {{ profile.phone_number }}</p>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Редактировать профиль</a>
    </div>

    <div class="text-center mt-4">
        {% if user.role == 'user' %}
            <a href="{% url 'order_history' %}">История моих заказов</a>
        {% elif user.role == 'admin' %}
            <a href="{% url 'all_orders_history' %}">История всех заказов</a><br>
            <a href="{% url 'view_sales_reports' %}">История отчётов по продажам</a><br>
            <a href="{% url 'sales_analysis' %}">Анализ продаж</a>
        {% endif %}
    </div>
</body>
{% endblock %}