{% extends 'flowers/base.html' %}

{% block title %}
    <title>Отчет о продажах</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'all_orders_history' %}" class="btn btn-danger me-md-2" type="button">Назад к списку заказов</a>
        </div>
    </div>
    <div class="container mt-5">
        <h1>Отчет о продажах №{{ report_id }} от {{ report_date }}</h1>

        <ul>
            {% for order in orders %}
            <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title">Заказ №{{ order.id }} от пользователя {{ order.user }} на сумму {{ order.total_price }} руб.</h5>
                        <p class="card-text">Статус: <span class="badge bg-success">{{ order.status }}</span></p>
                        <p class="card-text">Дата создания: {{ order.order_date|date:"d.m.Y H:i" }}</p>
                    </div>
                    <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">Детали заказа</a>
                </div>
            </div>
            {% empty %}
                <li>Нет продаж за указанный период.</li>
            {% endfor %}
        </ul>

        <p>Общая сумма продаж: {{ total_sales }} руб.</p>
        <p>Количество заказов: {{ count }}.</p>

        <a href="{% url 'generate_sales_report' %}">Сгенерировать новый отчет</a><br>
        <a href="{% url 'view_sales_reports' %}">Просмотреть все отчеты</a>
    </div>
{% endblock %}
